body {
    background-color: greenyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20;
    padding: 0;

}
h1{text-align: center;
    background-color: darkgreen;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;

;}

h2{
 color:black;
 text-align: left;
 padding-top: 20px;
}

p{color: darkgreen;}


ol{color: darkgreen;
    
}


